$primary-color: #000;
$primary-color-inverse: #fff;

$secondary-color: #000;
$secondary-color-inverse: #fff;

$success-color: #000;
$success-color-inverse: #fff;

$warning-color: #000;
$warning-color-inverse: #fff;

$danger-color: #000;
$danger-color-inverse: #fff;

$info-color: #000;
$info-color-inverse: #fff;
